body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
}

h1{
    color: #E53170;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

p{
    font-weight: 400;
}

.container-cards{
    background-color: red;
    height: 300px;
}

.card{
    background-color: black;
    width: calc(100% / 3);
    height: 100px;
    float: left;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}
